.wrapper {
  background-color: #26292e;
}

.navbar {
  height: 162px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.right {
  display: flex;
  align-items: center;
  margin-right: 6%;
}

.logo {
  margin-left: 6%;
}

.right > :not(:last-child) {
  margin-right: 30px;
}
.links > :not(:last-child) {
  margin-right: 30px;
}

.link {
  border-radius: 15px;
  padding: 12px 14px;
  transition: all 0.2s ease;
}
.link:hover {
  background: #d5b961;
}

.connectWalletBtn {
  background: #0eaf59;
  border-radius: 15px;
  padding: 14px 28px;
  display: flex;
  align-items: center;
}

.connectWalletBtn > img {
  margin-left: 8px;
}

.hamburger {
  display: none;
}

@media (max-width: 1440px) {
  .navbar {
    height: auto;
    padding: 1rem 0;
  }
  .logo {
    width: 180px;
  }

  .connectWalletBtn {
    padding: 8px 18px;
  }

  .connectWalletBtn > img {
    width: 40px;
  }
}
@media (max-width: 1000px) {
  .navbar {
    padding: 0.8rem 0;
  }
  .logo {
    width: 130px;
  }

  .connectWalletBtn {
    padding: 4px 14px;
  }

  .connectWalletBtn > img {
    width: 30px;
  }

  .link {
    padding: 6px 10px;
    border-radius: 8px;
  }

  .right > :not(:last-child) {
    margin-right: 16px;
  }
  .links > :not(:last-child) {
    margin-right: 16px;
  }
}

@media (max-width: 600px) {
  .links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #26292e;
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
  }

  .links.open {
    opacity: 1;
    pointer-events: visible;
  }

  .link {
    border: 2px solid white;
    display: block;
    border: 2px solid var(--yellow);
    border-radius: 0;
    text-align: center;
    padding: 1rem 0;
  }

  .links > :not(:last-child) {
    margin-right: 0px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    min-width: 41px;
    height: 29px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 7%;
  }

  .hamburger > span {
    width: 100%;
    height: 6px;
    position: absolute;
    background-color: white;
    border-radius: 3px;
  }

  .hamburger > span:nth-child(1) {
    top: 0;
    left: 0;
    transition: all 0.2s ease;
  }
  .hamburger > span:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
  }
  .hamburger > span:nth-child(3) {
    bottom: 0;
    left: 0;
    transition: all 0.2s ease;
  }

  .hamburger.open > span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open > span:nth-child(1) {
    transform: rotate(40deg);
    top: 10px;
  }
  .hamburger.open > span:nth-child(3) {
    transform: rotate(-46deg);
    bottom: 13px;
  }
}

@media (max-width: 450px) {
  .logo {
    width: 100px;
  }

  .hamburger {
    min-width: 30px;
    height: 20px;
  }

  .hamburger > span {
    height: 4px;
  }

  .hamburger.open > span:nth-child(1) {
    transform: rotate(40deg);
    top: 8px;
  }
  .hamburger.open > span:nth-child(3) {
    transform: rotate(-46deg);
    bottom: 9px;
  }

  .id {
    font-size: 10px !important;
  }

  .connectWalletBtn {
    font-size: 16px;
  }
  .connectWalletBtn > img {
    width: 26px;
  }
}
