.wrapper {
  background-color: #26292e;
}

.navbar {
  height: 162px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  display: flex;
  align-items: center;
}

.right > :not(:last-child) {
  margin-right: 30px;
}

.connectWalletBtn {
  background: #0eaf59;
  border-radius: 15px;
  padding: 14px 28px;
  display: flex;
  align-items: center;
}

.connectWalletBtn > img {
  margin-left: 8px;
}
