.card {
  /* background: url(../../../assets/images/borderImg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%; */
  padding: 0.5rem 16px;
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  border: 40px solid;
  border-image-source: url(../../../assets/images/borderImg.png);
  border-image-slice: 150;
  /* border-image-repeat: repeat; */
}

.richTag {
  margin-right: 10px;
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 1000px) {
  .richTag {
    width: 50px;
  }
}

@media (max-width: 600px) {
  .card {
    border: 30px solid;
    border-image-source: url(../../../assets/images/borderImg.png);
    border-image-slice: 120;
    padding: 0.5rem 14px;
  }
  .richTag {
    width: 40px;
  }
}
@media (max-width: 400px) {
  .card {
    border: 25px solid;
    border-image-source: url(../../../assets/images/borderImg.png);
    border-image-slice: 150;
    padding: 0.5rem 14px;
  }
}
