.wrapper {
  background: #26292e;
}
.footer {
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialIcon {
  display: flex;
  align-items: center;
}
.socialIcon > :not(:last-child) {
  margin-right: 26px;
}

@media (max-width: 1440px) {
  .footer {
    height: auto;
    padding: 1.5rem 0;
  }

  .socialIcon img {
    width: 30px;
  }
}
@media (max-width: 600px) {
  .socialIcon img {
    width: 20px;
  }
}
